.card {
  background-color: $gray-800;
  border-color: $gray-800 !important;
  outline: none !important;
  color: $white;
  box-shadow: $box-shadow;
}

.card-body {
  background-color: $gray-800;
  border-color: $gray-800 !important;
  outline: none !important;
  color: $white;
  cursor: pointer;
}

.card-img-top{
  min-height: 300px;
  object-fit: cover;
  object-position: center;
}

.profile-card-img{
  max-height: 150px;
}

.listing-card{
  position: relative;
}

.listing-body{
  min-height: 300px;
}
