.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg path,
svg rect {
    fill: $purple;
}