.modal-content {
  background-color: $primary;
}

.delete-modal{
  background-color: $primary;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-modal-content{
  background-color: $primary;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid $white;
  padding: 20px;
  & h3{
    color: $white;
    margin-bottom: 20px;
    text-align: center;
  }
}

.delete-modal-dialog{
  background-color: $primary;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
